@import '../helpers/helpers';

.main_container{
    border: 1px var(--border-color) solid;
    border-radius: 5px;
    margin-top: 20px;
    .lists{
        padding: 10px 15px;
    }
    .main_container_header{
        display: flex;
        align-items: center;
        font-size: 14px;
        background-color: var(--secondary-bg);
        border-radius: 5px 5px 0 0;
        i{
            font-size: 12px;
            margin-right: 5px;
        }
        .filters_tab{
            color: var(--text-secondary);
            cursor: pointer;
            padding: 15px 0;
            &:hover{
                color: var(--text-primary);
            }
            &.active{
                font-weight: bold;
                color: var(--text-primary);
            }
        }
        .open{
            display: flex;
            align-items: center;
            cursor: pointer;
            margin-right: 15px;
            i{
                @include exclamation_icon(var(--text-secondary));
                width: 15px;
                height: 15px;
                font-size: 8px;
            }
        }
    }
}